body
{
  background-image: linear-gradient(to right top, #54075f, #680e6f, #9d269b, #bd46c1, #f6c3fb);
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.card {
	 position: relative;
	 width: 300px;
	 height: 425px;
	 border: 10px solid #bd46c1;
	 margin: 60px auto 0 auto;
	box-shadow: inset 10px 0px 15px 0px rgba(0, 0, 0, 0.1);
    background-image: linear-gradient(to bottom, rgba(246, 195, 251), rgba(157, 38, 155, 0.5)), url("../img/bentil.jpg");

    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
	background-color: #e6f0e6;
}
 .card .text-container {
	 width: 80%;
	 height: 80%;
	 margin: auto;
}
 .strikethrough {
	 text-decoration: line-through;
}
 .card .text-container #head {
	 font-family: 'Nobile', sans-serif;
	 font-size: 1.5em;
	 margin: 60px auto 60px auto;
}
 .card p {
	 font-size: 1.1em;
	 line-height: 1.4;
	 font-family: 'Nobile';
	 color: #3b0142;
	 font-style: italic;
	 text-align: center;
	 margin: 30px auto 0px auto;
}
 .card .front {
	 position: absolute;
	 width: 100%;
	 height: 100%;
	 margin: -10px 0px 0px -10px;
	 border: 10px solid #bd46c1;
	 backface-visibility: hidden;
	 background-color: #bd46c1;
	/* background-image: url($cover-image);
	 */
	 background-size: contain;
	 transform-style: preserve-3d;
	 transform-origin: 0% 50%;
	 transform: perspective(800px) rotateY(0deg);
	 transition: all 0.8s ease-in-out;
}
 .card:hover .front {
	 transform: perspective(800px) rotateY(-170deg);
	 background-color: #41718d;
}
 .card:hover .back {
	 transform: perspective(800px) rotateY(-170deg);
	 box-shadow: 7px 0px 5px 0px rgba(0, 0, 0, 0.3), inset 2px 0px 15px 0px rgba(0, 0, 0, 0.1);
	 background-color: #d2dcd2;
}
 .card .back {
	 position: absolute;
	 width: 100%;
	 height: 100%;
	 border: 10px solid #bd46c1;
	 margin: -10px 0px 0px -10px;
	 backface-visibility: visible;
	 filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, .5));
	 transform-style: preserve-3d;
	 transform-origin: 0% 50%;
	 transform: perspective(800px) rotateY(0deg);
	 transition: all 0.8s ease-in-out;
	 background-color: #e6f0e6;
	 box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.1);
}

.imgset
{
  position: relative;
  z-index: 1;
  margin-bottom: -215px;
}
.imgset img
{
    box-shadow: 0px 6px 11px 7px rgba(0, 0, 0, 0.22);
    border-radius: 5px;
}


/* Modal */

.modal {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	opacity: 0;
	visibility: hidden;
	transform: scale(1.1);
	transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}
.modal-content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: white;
	padding: 1rem 1.5rem;
	width: 24rem;
	border-radius: 0.5rem;
}
.close-button {
	float: right;
	width: 1.5rem;
	line-height: 1.5rem;
	text-align: center;
	cursor: pointer;
	border-radius: 0.25rem;
	background-color: lightgray;
}
.close-button:hover {
	background-color: darkgray;
}
.show-modal {
	opacity: 1;
	visibility: visible;
	transform: scale(1.0);
	transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

.ajax-message{
	text-align: center;
	margin: 2px auto;
}
/* /Modal */
/* form */

/* Style inputs with type="text", select elements and textareas */
input[type=text] ,input[type=tel], textarea {
	width: 100%; /* Full width */
	padding: 12px; /* Some padding */ 
	color: #54075f;
	border-radius: 4px; /* Rounded borders */
	box-sizing: border-box; /* Make sure that padding and width stays in place */
	margin-top: 6px; /* Add a top margin */
	margin-bottom: 16px; /* Bottom margin */
	border: 1px solid #3b0142;
	outline: 0;
	resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
	background-color: #9d269b;
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
  }
  

  /* Adding Error COntrol */
  .has-error, input[type = "tel"]:out-of-range{
	border: 1px solid #ce0000 !important;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
	background-color: #54075f;
  }
  
  /* Add a background color and some padding around the form */
  .container {
	border-radius: 5px;
	background-color: #f2f2f2;
	padding: 20px;
  }
/* form */



footer{
    width: 45%;
    margin: 3rem auto;
    background: #fff;
    color: #3b0142;
    min-height: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    border-radius: 5px;
    padding: 1%;
    font-size: 1.1rem;
    line-height: 1.3rem
}
footer a{
    text-decoration: none;
    color: inherit;
}
@media only screen and (max-width: 769px)
{
footer{
    width: 50%;
    padding: 1.2%;
    font-size: 1.2rem;
    line-height: 3rem
}
}

/* AJAX RESPONSE */
.ajax-response{
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 100%;
}
.ajax-response .alert{
	align-items: center;
	text-align: center;
	font-weight: bold;
	width: 95%;
	padding: 5px;
	border-radius: 4px;
}
.ajax-response .alert.alert-danger{
	background-color: #ce000062 ;
	color: #ce0000 ;
}
.ajax-response .alert.alert-warning{
	background-color: #ffe60062 ;
	color: #141401 ;
}
.ajax-response .alert.alert-success{
	background-color: #bd46c1 ;
	color: #3b0142 ;
}